<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 将 properties 注入到 PathConst 中 -->
    <bean class="com.house.config.CustomPropertyPlaceholderConfig">
        <property name="location" value="classpath:path-config.properties"/>
        <property name="configureClasses" value="com.house.constant.PathConst"/>
        <property name="lowerCaseKey" value="false"/>
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
    </bean>

</beans>